@import "tailwindcss";

@layer utilities {
  /* Скрываем скроллбар, но оставляем возможность прокрутки */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* Поддержка отступов для челок и нижних полос на iPhone */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}